* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid black;
}

.navContainer * {
    margin-right: 20px;
}

a:active {
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline black;
    color: black;
}

.activitiesMain {
    display: flex;
    flex-direction: column;
}

.activitiesHeader, .newActivityForm, .newRoutine, .myRoutines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activitiesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activities {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 10px 5px 10px;
    width: 700px;
    margin: 10px;
}

.pubRoutinesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pubroutines {
    width: 700px;
}

.pubRoutineActivities {
    margin-top: 20px;
    border-top: 1px solid black;
}


.routine {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 10px 5px 10px;
    margin: 10px;
    width: 700px;
}

.routineActivity {
    border-top: 1px solid black
}

.hidden {
    visibility: hidden;
}

.newRoutine * {
    margin-top: 5px;
}

.updateRoutine {
    display: flex;
    flex-direction: column;
}